<!-- Begin main Above the fold Header -->
<div class="full-row grey wrapper">

<!-- "full-row" class allows background to stretch to 100% width -->
	<div class="row header">
		<div class="large-8 medium-centered columns features-intro">
			
			<!-- Main Heading -->
			<div class="large-centered medium-centered small-centered columns">
				<div class="logo_wrapper"></div>
				<div class="baseline">Longboard électrique intelligent, made in Paris !</div>
				<!-- <div class="wrapper_txt">Sign up now and be inform when we launch.</div> -->
				<div class="wrapper_txt">Inscrivez vous pour être tenu au courant du lancement ! Pas de spam, c'est promis !</div>
			</div>

			<!-- Email Subscribe Form -->
			<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
				<div class="large-8 medium-8 small-8 columns">
					<%= f.input :email,  :label => false, :autofocus => true, :placeholder => "Email" %>
				</div>

				<div class="large-4 medium-4 small-4 columns">
					<%= f.button :submit, "Envoyer", :class => 'medium button success radius' %>
				</div>
			<% end %>
			<!-- End Email Row -->
		</div>

		<div class="large-4 hide-for-medium hide-for-small columns">
			<%= image_tag "header-phone.png", :title => "pless app", :class => "iphone"%>
		</div>

	</div>
</div>