/* Load Foundation Icons */
@font-face {
	font-family: '[set]Foundicons';
	src: url('foundicons/[set]_foundicons.eot');
	src: url('foundicons/[set]_foundicons.eot?#iefix') format('embedded-opentype'), 
			url('foundicons/[set]_foundicons.woff') format('woff'), 
			url('foundicons/[set]_foundicons.ttf') format('truetype'), 
			url('foundicons/%5bset%5d_foundicons.html#[set]Foundicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="foundicon-"] {
	display: inline;
	width: auto;
	height: auto;
	line-height: inherit;
	vertical-align: baseline;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
}

[class*="foundicon-"]:before {
	font-family: "[set]Foundicons";
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
}

/* Load Dedicated fonts */
@font-face {
	font-family: 'Harbell';
	src: url('harbell/Harbell_Personal_Use.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Intrique';
	src: url('intrique_script/IntriqueScript_PersonalUse.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica_Neue';
	src: url('Helvetica_Neue_LT_Std/HelveticaNeueLTStd-Lt.otf');
	font-weight: normal;
	font-style: normal;
}


/* Begin General Styles */
.top-bar {
	margin-bottom: 0;
}

.top-bar-section ul li > a {
	font-weight: 400;
}

.brand{
	color: #9be24d;
	font-family: "Harbell";
	font-weight: 200;
	font-style: normal;
	font-size: 30px;
}

body {
	color: #222;
	font-family: "Raleway", Arial, Helvetica, Sans-serif;
}

.full-row {
	width: 100%;
}

.full-row.grey {
	background: #f9f9f9;
}

.full-row.white {
	background: #FFF;
}
.full-row.green {
	background: #9be24d;
}

.full-row.grey.wrapper{
	background-image: url(pless-bg.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	//height: 525px;
	height: 100%;
}

.full-row.grey.wrapper_signup{
	background-image: url(pless-bg-signup.jpg);
	background-repeat:no-repeat;
	height: 690px;
}

.full-row.grey.wrapper_signin{
	background-image: url(pless-bg-signin.jpg);
	background-repeat:no-repeat;
	height: 690px;
}

.full-row.grey.wrapper_signup h2, .full-row.grey.wrapper_signin h2{
	color: #FFF;
	font-size: 60px;
	font-family: "Intrique", Arial, Helvetica, Sans-serif;
	font-weight: 100;
	margin-left: 0px;
	margin-bottom: 10px;
	text-shadow: 0px 0px 7px rgba(64, 64, 64, 0.75);
}

/*  Features  */
.full-row.white.features{
	//height: 385px;
	height: 100%;
}
.photolabel{
	color: #9d9fa2;
	font-size: 10px;	
}

.full-row.grey.features{
	//height: 660px;
	height: 100%;
}
.full-row.green.features{
	//height: 660px;
	height: 100%;
}
.full-row.grey.trynow{
	//height: 385px;
	height: 100%;
}
.full-row.white.testimonials{
	//height: 385px;
	height: 100%;
}

.features {
	text-align: center;
}

.description {
	float: left;
	text-align: left;
}

.header img {
	margin-top: 40px;
}

.features-intro {
	margin-top: 70px;
}
.top-email {
	margin-bottom: 5px;
}

.logo_wrapper{

	display: block;

	background-image: url(logo_pless.png);
	background-repeat:no-repeat; 
	
	height: 250px;
	width: 250px;
	
	-webkit-filter: drop-shadow(1px 1px 1px #999);
    filter:         drop-shadow(1px 1px 1px #999); 

	margin-top: 17px;
	margin-bottom: 25px;
	margin-left: auto;
    margin-right: auto;


/*
	border-width:1px;
	border-style:dotted;
	border-color:black;
*/
}

.wrapper_header{
	color: #FFF;
	font-size: 50px;
	font-family: "Intrique", Arial, Helvetica, Sans-serif;
	font-weight: 100;
	margin-left: 0px;
	margin-bottom: 10px;
	text-shadow: 0px 0px 5px rgba(64, 64, 64, 1);
}

.wrapper_txt{
	color: #FFF;
	font-size: 12px;
	font-family: Helvetica, Sans-serif;
	font-weight: 100;
	margin-left: 0px;
	margin-bottom: 10px;
	text-shadow: 0px 0px 5px rgba(64, 64, 64, 1);
}
h1 {
	color: #312A2A;
	font-family: "Raleway", Arial, Helvetica, Sans-serif;
	font-weight: 400;
	margin-bottom: 10px;
}

.header h1 {
	font-size: 32px;
}

.features h1 {
	margin-top: 60px;
}

.tour h1 {
	text-align: center;
	color: #9d9fa2;
	font-family: "Intrique", Arial, Helvetica, Sans-serif;
	font-weight: 100;
	font-style: normal;
	margin-top: 20px;
}

.section_title.grey h1{
	color: #9d9fa2;
	font-family: "helvetica_Neue", Arial, Helvetica, Sans-serif;
	font-size: 26px;
	font-weight: 100;
	font-style: normal;
	margin-top: 50px;
	margin-bottom: 20px;
}

.section_title.white h1{
	color: #fff;
	font-family: "helvetica_Neue", Arial, Helvetica, Sans-serif;
	font-size: 26px;
	font-weight: 100;
	font-style: normal;
	margin-top: 50px;
}

.section_title.white ul li {
	color: #fff;
	font-family: "helvetica_Neue", Arial, Helvetica, Sans-serif;
	font-size: 18px;
	font-weight: 100;
	font-style: normal;
}

h2 {
	font-size: 25px;
	color: #222;
	font-family: "helvetica_Neue", Arial, Helvetica, Sans-serif;
	font-weight: 500;
	margin-top: 50px;
}

.full-row.grey p{
	color: #9d9fa2;
	font-family: "helvetica_Neue", Arial, Helvetica, Sans-serif;
	font-weight: 100;
}

.photoboard{

	background-image: url(pless-board_photoshoot.png);
	background-repeat:no-repeat;

	height: 113px;
	width: 686px; 

	margin-left: auto;
    margin-right: auto;
}

.photoboardUnder{

	background-image: url(pless-board_photoshoot_dessous.png);
	background-repeat:no-repeat;

	height: 537px;
	width: 138px; 

	margin-left: auto;
    margin-right: auto;
}

.iconboard{

	background-image: url(icons_features_photoshoot.png);
	background-repeat:no-repeat;

	height: 122px;
	width: 94px;

	margin-top: 50px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}

.plessappimage{
	position: relative;
	
	background: #9be24d url(pless_apps_bg.png) no-repeat center 0px ;
	background-position:right; 
	background-attachment:fixed;

	width: 100%;
	height: 100%;

	margin-left: auto;
    margin-right: auto;

	/*
	border-width:1px;
	border-style:dotted;
	border-color:black;
	*/
}
.plessappimage p{
	margin-bottom: 50px;
}

.txt_iconboard{
	/* txt */
	color: #bbb;

	font-family: "helvetica_Neue", Arial, Helvetica, Sans-serif;
	font-size: 14px;
	font-weight: 100;
	font-style: normal;
	text-align: center;
}
.txt_iconboard2{
	/* txt */
	color: #bbb;

	font-family: "helvetica_Neue", Arial, Helvetica, Sans-serif;
	font-size: 24px;
	font-weight: 100;
	font-style: normal;
	text-align: center;
}

/* #Testimonial Section
================================================== */

.testimonial-section { padding:0px 0 0px; overflow:hidden; background:#F3F3F3; }
.testimonial { overflow:hidden; }

.testimonial-section .entry-header {
	margin-bottom:40px;
	text-align:center;
}
.testimonial_image img {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	width:75px;
	height:75px;
	-webkit-border-radius:50%;
		-moz-border-radius:50%;
			border-radius:50%;
}
.testimonial-name {
	display:block;
	margin-bottom:20px;
	color:#58D68D;
	font-style:italic;
}
/* ================================================== */
/* #Footer
================================================== */

.footer{
	background: #9be24d !important;
	text-align: left !important;
	padding:40px 0 20px;
}

.footer a {
	color:#FFF;
}

.footer a:hover {
	color:#FFF;
}

.footer li,a {
	color: rgb(143,143,143);
	list-style: none;
	letter-spacing: 0;
	font-size: 14px;
}

.footer h3 {
	color:#FFFFFF;
}

.footer_header h5{
	color: #FFF;
	font-size: 20px;
	font-family: "Harbell", Arial, Helvetica, Sans-serif;
	font-weight: 100;
	text-transform:none;
}

.footer-nav{
	color: #F00;
	font-size: 10px;
	font-family: "helvetica_Neue", Arial, Helvetica, Sans-serif;
	font-weight: 100;
	text-transform:none;
}

.site-branding {
	float:none;
	display:block;
	margin:0 auto 20px 0;	
}

.site-branding h1 {
	font-size:30px;
	margin:0;
	color:#58D68D;
	line-height:inherit;
}

.site-branding a {
	display:block;
	color:#58D68D;
	line-height: inherit;
}
.site-branding a:hover {
	color:#58D68D;
}	

.copyright { 
	padding:0; 
	margin:0; 
	font-size:12px; 
	color:#f9f9f9; 
	text-transform:capitalize;
}

.mobile-copyright .copyright {
	text-align:center;
	margin-bottom:20px;
}
/* ================================================== */

.features h2 {
	margin-top: 60px;
}

p.main {
	font-size: 20px;
	color: #312A2A;
}

p {
	font-family: "helvetica_Neue", Arial, Helvetica, Sans-serif;
	font-size: 16px;
	color: #9d9fa2;
	letter-spacing: 0px;
}

p.description {
	text-align: left;
}

p.header {
	text-align: center;
	font-size: 20px;
}

.full-row.darkgrey {
	background: #494747;
	color: #efefef;
	text-align: center;
	padding-bottom: 50px;
	position: relative;
	z-index: 10;
}

.video h1 {
	color: #efefef;
}

.full-row.darkgrey p {
	color: #efefef;
	font-size: 20px;
}

.video>h1 {
	margin-top: 60px;
}

img {
	margin-bottom: 40px;
}

hr {
	border-bottom: solid white 1px;
}

.darkgrey h2 {
	color: #efefef;
	margin-top: 0px;
	margin-bottom: 10px;
}

.darkgrey img {
	margin-bottom: 0px;
}

.full-row.darkgrey p.description {
	font-size: 15px;
	text-align: center;
	margin-bottom: 50px;
}

.dark-hr {
	border-top: 1px solid rgb(58, 58, 58);
	border-bottom: 1px solid rgb(82, 82, 82);
	margin-bottom: 60px;
}

.icons {
	list-style: none;
	font-size: 16px;
	text-align: left;
}

ul li {
	font-size: 16px;
	letter-spacing: 1px;
}

[class*="foundicon-"] {
	display: inline;
	width: auto;
	height: auto;
	line-height: inherit;
	vertical-align: baseline;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	font-size: 28px;
	top: 6px;
	position: relative;
	margin-right: 10px;
	text-shadow: 0px 0px 1px rgba(253, 253, 253, 1);
}

.button {
	font-family: "Raleway", Arial, Helvetica, Sans-serif;
	font-weight: 400;
	border-radius: 3px;

	-webkit-box-shadow: none;
	box-shadow: none;
}

.iphone {
	width: 350px;
	height: auto;
//	float: right;
//	z-index: 5;
	position: relative;
	top: 48px;
//	margin-bottom: -60px;
}

h5 {
	color: #EFEFEF;
	padding-top: 50px;
}

/*
.email {
	margin-left: -15px !important;
}
*/

.demo-video {
	position: absolute;
	top: 75px;
	left: 50%;
	margin-left: -197px;
	width: 397px;
}

@media screen and (max-width: 950px) {
	.demo-video {
	display: none;
}

}

@media screen and (max-width: 480px) {
	.demo-video {
	display: none;
}

h2 {
	margin-top: 20px;
}

.cta {
	margin-top: 120px;
}

}

.link_white a{
	color: rgb(255,255,255);
	list-style: none;
	letter-spacing: 0;
	font-size: 14px;
}
