  <!-- Footer Section -->
  <footer class="footer">
    <div class="row">
        
      <div class="small-3 large-centered hide-for-medium-down columns">
        <!-- footer site branding -->
        <div class="site-branding text-center"> 
          <h1><a href="#">
            <%= image_tag "logo_pless.png", :title => "pless logo", :width =>"150px" %>
          </a></h1>
        </div><!-- close footer site branding -->
        <p class="copyright text-center">Copyright &copy; 2013 <a href="http://www.plesboards.com/">pless Labs</a>.<br/>All rights reserved.</p>
      </div>
      
      <div class="small-3 large-centered hide-for-medium-down columns">
        
      </div>
            
<!--  
      <div class="large-3 hide-for-small columns">
        <h3>Account</h3>  
        <ul>
          <li><a href="#">View account</a></li>
          <li><a href="#">Order tracking</a></li>
          <li><a href="#">Order History</a></li>
          <li><a href="#">Download + product keys</a></li>
        </ul>
                
        <h3>About</h3>
        <ul>
          <li><a href="#">Affiliate program</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Retail store locations</a></li>
        </ul>
      </div>
            
      <div class="large-3 hide-for-small columns">
        <h3>Help</h3>
        <ul>
          <li><a href="#">Support</a></li>
          <li><a href="#">Orders</a></li>
          <li><a href="#">Returns</a></li>
          <li><a href="#">All help topics</a></li>
          <li><a href="#">FAQ</a></li>                  
        </ul>
        
        <h3>Connect</h3>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Google Plus</a></li>
        </ul>
      </div>
            
      <div class="large-3 hide-for-small columns">      
        <h3>Other Trenton sites</h3>
        <ul>
          <li><a href="#">Lansing</a></li>
          <li><a href="#">Delaware</a></li>
          <li><a href="#">Nebraska</a></li>
          <li><a href="#">Nevada</a></li>
          <li><a href="#">Aries</a></li>
          <li><a href="#">Passion Reloaded</a></li>
          <li><a href="#">Ruskin</a></li>
          <li><a href="#">Biscayne</a></li>
          <li><a href="#">Arcadia</a></li>
          <li><a href="#">Go Green</a></li>
          <li><a href="#">Strange</a></li>
        </ul>       
      </div>
-->      
      <!-- mobile copyright -->
      <div class="show-for-medium-down">
        <div class="mobile-copyright">
          <p class="copyright">Copyright &copy; 2013 <a href="http://www.plessboards.com/">pless labs</a>. All rights reserved.</p>
        </div>
      </div>
      <!-- close mobile copyright -->           
          
    </div><!-- close row -->
  </footer><!-- close footer -->